In [1]:
import requests
import csv
import json
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt
from matplotlib import dates as mpl_dates
import key1

In [2]:
key = key1.key()
company = 'IBM'
outputsize = 'compact'
response = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={company}&outputsize={outputsize}&apikey={key}')

res = json.loads(response.text)
df = pd.DataFrame(res)

In [3]:
df

,Meta Data,Time Series (Daily)
1. Information,Daily Time Series with Splits and Dividend Events,NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2020-09-15,NaN
4. Output Size,Compact,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2020-04-30,NaN,"{'1. open': '126.5200', '2. high': '127.2700',..."
2020-04-29,NaN,"{'1. open': '128.8800', '2. high': '129.3100',..."
2020-04-28,NaN,"{'1. open': '128.0300', '2. high': '128.2000',..."
2020-04-27,NaN,"{'1. open': '125.5600', '2. high': '126.9900',..."
2020-04-24,NaN,"{'1. open': '122.4100', '2. high': '125.0000',..."

In [4]:
df.head(10)

,Meta Data,Time Series (Daily)
1. Information,Daily Time Series with Splits and Dividend Events,NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2020-09-15,NaN
4. Output Size,Compact,NaN
5. Time Zone,US/Eastern,NaN
2020-09-15,NaN,"{'1. open': '122.8200', '2. high': '123.4000',..."
2020-09-14,NaN,"{'1. open': '122.3600', '2. high': '123.3800',..."
2020-09-11,NaN,"{'1. open': '121.3900', '2. high': '122.7000',..."
2020-09-10,NaN,"{'1. open': '122.5300', '2. high': '123.5764',..."
2020-09-09,NaN,"{'1. open': '122.1300', '2. high': '123.7000',..."

In [5]:
df.dropna(axis='index', how ='all', subset=['Time Series (Daily)'], inplace=True)
df

           Meta Data                                Time Series (Daily)
2020-09-15       NaN  {'1. open': '122.8200', '2. high': '123.4000',...
2020-09-14       NaN  {'1. open': '122.3600', '2. high': '123.3800',...
2020-09-11       NaN  {'1. open': '121.3900', '2. high': '122.7000',...
2020-09-10       NaN  {'1. open': '122.5300', '2. high': '123.5764',...
2020-09-09       NaN  {'1. open': '122.1300', '2. high': '123.7000',...
...              ...                                                ...
2020-04-30       NaN  {'1. open': '126.5200', '2. high': '127.2700',...
2020-04-29       NaN  {'1. open': '128.8800', '2. high': '129.3100',...
2020-04-28       NaN  {'1. open': '128.0300', '2. high': '128.2000',...
2020-04-27       NaN  {'1. open': '125.5600', '2. high': '126.9900',...
2020-04-24       NaN  {'1. open': '122.4100', '2. high': '125.0000',...

[100 rows x 2 columns]

In [6]:
df.index.rename('Date', inplace=True)
df.dropna(axis='columns', how='all', inplace=True)

In [7]:
df.loc['2020-09-15']['Time Series (Daily)']

{'1. open': '122.8200',
 '2. high': '123.4000',
 '3. low': '122.2400',
 '4. close': '122.4400',
 '5. adjusted close': '122.4400',
 '6. volume': '2915221',
 '7. dividend amount': '0.0000',
 '8. split coefficient': '1.0000'}

In [8]:
df['open'] = (df['Time Series (Daily)'].apply(lambda x: x.get('1. open', 0))).astype(float)
df['high'] = (df['Time Series (Daily)'].apply(lambda x: x.get('2. high', 0))).astype(float)
df['low'] = (df['Time Series (Daily)'].apply(lambda x: x.get('3. low', 0))).astype(float)
df['Close'] = (df['Time Series (Daily)'].apply(lambda x: x.get('4. close', 0))).astype(float)
df['adjusted close'] = (df['Time Series (Daily)'].apply(lambda x: x.get('5. adjusted close', 0))).astype(float)
df['Valume'] = (df['Time Series (Daily)'].apply(lambda x: x.get('6. volume', 0))).astype(float)
df['dividend amount'] = (df['Time Series (Daily)'].apply(lambda x: x.get('7. dividend amount', 0))).astype(float)
df['split coefficient'] = (df['Time Series (Daily)'].apply(lambda x: x.get('8. split coefficient', 0))).astype(float)
df

,Time Series (Daily),open,high,low,Close,adjusted close,Valume,dividend amount,split coefficient
Date,,,,,,,,,
2020-09-15,"{'1. open': '122.8200', '2. high': '123.4000',...",122.82,123.4000,122.24,122.44,122.4400,2915221.0,0.0,1.0
2020-09-14,"{'1. open': '122.3600', '2. high': '123.3800',...",122.36,123.3800,121.76,122.09,122.0900,3641887.0,0.0,1.0
2020-09-11,"{'1. open': '121.3900', '2. high': '122.7000',...",121.39,122.7000,120.73,121.46,121.4600,3548091.0,0.0,1.0
2020-09-10,"{'1. open': '122.5300', '2. high': '123.5764',...",122.53,123.5764,120.24,120.56,120.5600,3978805.0,0.0,1.0
2020-09-09,"{'1. open': '122.1300', '2. high': '123.7000',...",122.13,123.7000,121.29,122.26,122.2600,3770678.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
2020-04-30,"{'1. open': '126.5200', '2. high': '127.2700',...",126.52,127.2700,125.22,125.56,122.2989,6635800.0,0.0,1.0
2020-04-29,"{'1. open': '128.8800', '2. high': '129.3100',...",128.88,129.3100,127.53,128.69,125.3476,5257600.0,0.0,1.0
2020-04-28,"{'1. open': '128.0300', '2. high': '128.2000',...",128.03,128.2000,125.38,126.27,122.9905,4778100.0,0.0,1.0
2020-04-27,"{'1. open': '125.5600', '2. high': '126.9900',...",125.56,126.9900,125.47,125.92,122.6495,4923800.0,0.0,1.0
2020-04-24,"{'1. open': '122.4100', '2. high': '125.0000',...",122.41,125.0000,120.76,124.72,121.4807,4987300.0,0.0,1.0

In [11]:
df.drop(columns=['Time Series (Daily)'], inplace=True)

In [12]:
df.index = pd.to_datetime(df.index)
df

,open,high,low,Close,adjusted close,Valume,dividend amount,split coefficient
Date,,,,,,,,
2020-09-15,122.82,123.4000,122.24,122.44,122.4400,2915221.0,0.0,1.0
2020-09-14,122.36,123.3800,121.76,122.09,122.0900,3641887.0,0.0,1.0
2020-09-11,121.39,122.7000,120.73,121.46,121.4600,3548091.0,0.0,1.0
2020-09-10,122.53,123.5764,120.24,120.56,120.5600,3978805.0,0.0,1.0
2020-09-09,122.13,123.7000,121.29,122.26,122.2600,3770678.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2020-04-30,126.52,127.2700,125.22,125.56,122.2989,6635800.0,0.0,1.0
2020-04-29,128.88,129.3100,127.53,128.69,125.3476,5257600.0,0.0,1.0
2020-04-28,128.03,128.2000,125.38,126.27,122.9905,4778100.0,0.0,1.0
2020-04-27,125.56,126.9900,125.47,125.92,122.6495,4923800.0,0.0,1.0
2020-04-24,122.41,125.0000,120.76,124.72,121.4807,4987300.0,0.0,1.0